@tailwind base;
@tailwind components;
@tailwind utilities;

/* Vos styles personnalisés ici */
body {
    background-color: #1e1e2f;
    color: #ffffff;
  }
  
  h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .btn {
    width: 250px;
  }
  
  .progress {
    height: 20px;
    width: 250px;
    margin: 0 auto;
  }

  .progress div {
    transition: width 0.2s ease-in-out;
  }
  
  .step {
    border: 1px solid #444;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  #statusMessage {
    font-size: 1.2em;
  }  