@tailwind base;
@tailwind components;
@tailwind utilities;

/* Styles personnalisés */
.progress div {
  transition: width 0.2s ease-in-out;
  background-color: #4CAF50;
  height: 8px;
  border-radius: 4px;
}

button {
  transition: background-color 0.2s ease-in-out;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

#modsProgress {
  transition: all 0.3s ease-in-out;
}

#modName {
  margin-bottom: 10px;
}

#statusMessage {
  transition: all 0.3s ease-in-out;
}